<main>
    <section id="banner" >
    <img id="logo" src="../img/logo.png">
    </section>
    <hr>
    <div class="text">
        <p>
                Atendimento personalizado, e mais de 2000 eventos realizados em todo país,<br> 
                O Rolê Top tem toda a estrutura, física, funcional e pacotes que facilitam <br>
                a vida de quem esta em busca contratar o melhor para seu evento, <br> 
                ele um evento: corporativo, social, balada, shows, uma pequena recepção para amigos <br> 
                ou até apenas a locação de um salão de festa, espaços para eventos e <br>
                espaços para festas
                </p>
                <p>
                Estamos conectados a você , seja em nosso portal, Telefone, através de e-mail,<br>
                pelo atendimento personalizado de consultores, em nosso Salão de Festa ou nossos Espaços para Eventos.
            <hr>
        </p>
    </div>
    <section id="eventos">
    <h2>Eventos</h2>       
    <div class="fotodoseventos">
        
            <div class="dance-container">
                    <p>30/02/2020</p>
    <img src="../img/danceparty.jpg" height="400px" width="250px">
            </div>
            <div class="dance-container">
                    <p>30/02/2020</p>
    <img src="../img/raveparty.webp" height="400px" width="250px">
            </div>
            <div class="dance-container">
                    <p>30/02/2020</p>
    <img src="../img/nightparty.jpg" height="400px" width="250px">
            </div>
            <div class="dance-container">
                <p>30/02/2020</p>
    <img src="../img/evento80s.jpg" height="400px" width="250px">
            </div>
        </div>
    

<div class="tipos">
    <h3>Tipos de Eventos</h3>
    
    <ul>
        <div class="social">
        <li>Social</li>
        <p>Aniversários<br> Debutantes<br> Infantíl<br> Temáticos<br> Chá Bar<br> Despedidas</p>
        </div>
        <div class="casamentos">
        <li>Casamentos</li>
        <p>Noivados <br> Mini Weddings<br> Casamentos<br> Despedidas<br> Bodas<br> Renovação dos Votos</p>
        </div>
        <div class="corporativos">
        <li>Corporativos</li>
        <p>Final de Ano <br>Palestras <br>Coquetéis <br>Lançamentos <br>Coffebreak<br>Exposições</p>
        </div>
        <div class="universitarios">
        <li>Universitários</li>
        <p>Formaturas <br> Bota foras <br> Cervejadas <br> Campus party <br> Festas <br> Jogos</p>
        </div>
    </ul>
    </div>
</section>
<section id="galeria">
    <h2>Galeria</h2>
    <div class= "fotogaleria">
            <div class= "foto-container">
                    
                    
    <img src="../img/fotenha1galeria.jpg" height="300px" width="350px">
            </div>
            <div class="foto-container">
    <img src="../img/fotenha2galeria.jpg" height="300px" width="350px">
            </div>
        <div class= "foto-container">
    <img src="../img/fotenha3galeria.jpg" height="300px" width="350px">
            </div>
        <div class="foto-container">
    <img src="../img/fotenha4galeria.jpg" height="300px" width="350px">
            </div>
        <div class="foto-container">
    <img src="../img/fotenha5galeria.jpg" height="300px" width="350px">
            </div>
        <div class="foto-container">
    <img src="../img/fotenha6galeria.jpg" height="300px" width="350px">
                    
        </div>
    </div>
</section>

</main>