<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfólio Marcos</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <header>
      <h1>Marcos Roberto Hilario</h1>

      <br>
      <div id="logo-area">
        <img src="destaque-19.jpg">
      </div>
        <nav>
         <div class="section-container">
            <ul>      
                <li><a href="index.html"></a></li>
            </ul>
        </div>
        </nav>
    </header>
        
   <main>
        <section id="sobre">
        <h2> Sobre </h2>
        <em>
        <strong>Idade</strong>:33 anos
        <br>
        
        
        <strong>Nasceu em</strong>: São Paulo
        <br>
        
        
        <strong>Estado Civil</strong>: Casado
        <br>
        
        
        <strong>Time do Coração</strong>: Corinthians
        <br>
        
        
        <strong>Esporte</strong>: Fã de UFC
        <br>
       
        
        <strong>Curiosidade</strong>: Fez parte de uma Banda de Rock  
        <br>
        
        
        <strong>Projetos Pessoais</strong>: Blog - No beer No idea
        <br>
       </em>
      </section>
      <section id="cursos">
        
        <h2> Cursos </h2>  


  <div class="curso1"><strong>2008</strong> - Aprovado no concurso da escola de formação de sargento do exército
    (6 Meses)</div>
    <div class="curso2"><strong>2011</strong> - Missão de Paz no Haiti</div>
    <div class="curso3"><strong>2013</strong> - Graduação em Técnologia da Segurança Pública</div>
    <div class="curso4"><strong>2015</strong> - Pós Graduação em Gestão da Segurança Privada</div>
    <div class="curso5"><strong>2018</strong> - Projeto de implantação de ponto eletrônico em postos de serviço da área de segurança</div>
    <div class="curso6"><strong>2019</strong> - Senai - DEV. (Cursando)</div>
  </ul>
  </div>
            </section>
      

  </main>
      
          
      </body>
      </html>
            
            
            