.perfil{
    padding-bottom: 100px;
}



main {
    padding-bottom: 85px;
}

footer {
    background-color: #7000a3;
    font-weight: bold;
    text-align: center;
    color: #FFC600;
    padding-top: 100px;
    
}

